#ifndef CSR_DEFS_H
#define CSR_DEFS_H

// ------------------------------------------------------------
// Custom implementation-defined CSRs
// ------------------------------------------------------------
{% for def_name, def_info in define_info.items() %}
#define {{ def_name.upper().ljust(max_name_len +2) }} {{ def_info.ADDRESS }} //{{ def_info.DESCRIPTION }}
{%- endfor %}

// ------------------------------------------------------------
//  inline access helpers (generic)
// ------------------------------------------------------------
#define read_csr(reg) ({ unsigned int __tmp; \
    asm volatile ("csrr %0, %1" : "=r"(__tmp) : "i"(reg)); \
    __tmp; })

#define write_csr(reg, val) \
    asm volatile ("csrw %0, %1" :: "i"(reg), "r"(val))

#endif // CSR_DEFS_H
